terraform/environments/dev/.terraform.lock.hcl
api/authorizer/package-lock.json
api/login/package-lock.json
terraform/environments/dev/terraform.tfstate.backup
terraform/environments/dev/.terraform/modules/modules.json
terraform/environments/dev/.terraform/providers/registry.terraform.io/hashicorp/aws/5.31.0/linux_amd64/terraform-provider-aws_v5.31.0_x5
api/create-booking/package-lock.json
api/package-lock.json

email-notification/package-lock.json
